*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}
body {
    font-family: Arial, Helvetica, sans-serif ;
    line-height: 1.6;
    background: #f9f9f9 ;
    color: #333 ;
}
.container {
    margin: auto ;
    width: 90% ;
    max-width: 1200px ; 
}
header {
    background-color: rgb(113, 113, 227) ;
    color: white ;
    padding: 1rem 0 ;
}
.header-container {
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
}
.logo {
    font-size: 1.8rem ;
}
.nav-menu {
    list-style: none ;
    display: flex ;
    gap: 1.5rem ;
}
.nav-menu a {
    color: #fff ;
    text-decoration: none ;
}